.lang-and-currency { padding-left: 0; }
.shopping-cart { margin-right: 155px; }
.footer .add-menu li a { padding-right: 30px; padding-left: 30px; }
.special-offer {
    background-image: url(../img/special_offer_de.gif);
    height: 56px;
    padding: 25px 50px 0 0;
    font-size: 17px;
    font-weight: normal;
}
.best-sides .e { padding-top: 8px; padding-bottom: 8px  }
.best-sides .tit-green { font-size: 13px; text-transform: capitalize }